In [1]:
import pandas as pd
import re
# project link: https://www.upwork.com/jobs/~01a010157a5b4de92f


data = { 'first_column':  ['assdlkfhasdlkfha_$facebook1234567891', 'adsfmlnas_$book1234567891', 'fafddasfdscar1234567891']
       }
df = pd.DataFrame(data)
df.rename(columns = {df.columns[0]:'c1'}, inplace = True)


def identify(test):
    if re.search('car[0-9]{10}', test) != None:
        return "car", re.findall('car[0-9]{10}', test)[0]
    else:
        if re.search('facebook[0-9]{10}', test) != None:
            return "facebook", re.findall('facebook[0-9]{10}', test)[0]
        else:
            if re.search('book[0-9]{10}', test) != None:
                return "book", re.findall('book[0-9]{10}', test)[0]
            else:
                return "none of those!"

            
dictStore = {}

for i in df.c1:
    obj = identify(i)
    key = obj[0]
    string = obj[1]
    dictStore[key] = string
    

df2 = pd.DataFrame.from_records([pd.Series(dictStore)]).transpose()
df.set_index(df2.index, inplace = True)
finaldf = df.join(df2)
finaldf.rename(columns = {finaldf.columns[1]:'obj'}, inplace = True)
finaldf

                                            c1                 obj
facebook  assdlkfhasdlkfha_$facebook1234567891  facebook1234567891
book                 adsfmlnas_$book1234567891      book1234567891
car                    fafddasfdscar1234567891       car1234567891